@import "../node_modules/normalize.css/normalize.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  font-size: 16px;
  font-family: Arial;
}

.testElem {
  width: 200px;
  height: 50px;
  border-radius: 5px;
  color: white;
  background-color: #673ab7;
  user-select: none;
  padding: 5px;
}

.drag-container {
  padding: 0.5rem;
  background: tan;
  & > :not(:last-child) {
    margin-bottom: 0.5rem;
  }
  display: inline-block;
  position: absolute;
}

.active {
  cursor: grabbing !important;
}

.drag-item {
  cursor: grab;
}

.dnd-placeholder {
  background: darken(tan, 10%);
}
