@import "../node_modules/normalize.css/normalize.css";
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  font-size: 16px;
  font-family: Arial;
}

#root {
  min-width: 100vw;
  width: 100%;
  min-height: 100vh;
  height: 100%;
}

.testElem {
  width: 200px;
  height: 50px;
  border-radius: 5px;
  color: white;
  background-color: #673ab7;
  user-select: none;
  padding: 5px;
}

.app {
  padding: 0.5rem;
  & > :not(:last-child) {
    margin-bottom: 0.5rem;
  }
}

.drag-container {
  position: absolute;
  z-index: 1000;
  cursor: grabbing;
}
